.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading {
    font-size: 108px;
    font-style: italic;
    font-weight: bold;
color: red;    margin-bottom: 10px;
}

.subheading {
    font-size: 24px;
    color: #777;
    margin-bottom: 20px;
}

.backButton {
    background-color: #7d7313;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.backButton:hover {
    background-color: #0056b3;
}
